doctype html
html
  head
    title Hello worldf
    link(rel="stylesheet", href="libs/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="css/main.css")
  body
    .container  
      h1 Helloe Fuckersf
      p It is working :)ffffffffff
    script(src="libs/jquery/jquery-2.2.1.min.js")
    script(src="libs/bootstrap/js/bootstrap.min.js")
    script(src="js/main.js")
